
@{
    ViewBag.Title = "PrivacyPolicy";
}

<h2>PrivacyPolicy</h2>
<pre>
This Privacy Policy describes how KOMEDIA (“We”) collects, uses and shares your information on our website at PopEyeTrip.com (the “Site”) and various relates services (collectively, the "Services").
1. Personal Information Collection and Usage
(1) In General
When you sign up with your Facebook, Google+ account, we will receive and keep basic account registration data from the service, such as name, email address and user ID. After then, we will receive and store any information you submit during registration process on PopEyeTrip or give us in any other way. This includes information that can identify you ("personal information"), including E-mail Address, First and Last Name, Gender, Profile Image, Date of Birth, City, Country, Phone number in order for you to receive relevant offerings and enjoy other benefits of being a registered member. For example, only registered members are able to view the entire content such as videos, follows, etc. Except as otherwise stated in this Privacy statement, we do not disclose your account information to other users of the Service.
(2) Automatic Information
We automatically collect some information from your computer or Device when you visit PopEyeTrip. For example, we will collect session data, including your IP address and type of device that you are using. We also may collect information about your online activity, such as content viewed, pages visited, and searches. One of our goals in collecting this automatic information is to help us understand the interests and preferences of our users and customize your user experience.
2. Purpose of the collection of your data
We use the information about you for the following general purposes:
i) for registration and to manage your account, including to allow your access to and use of our site
ii) to communicate with you in general, including to provide information about PopEyeTrip and invitations from PopEyeTrip
iii) to respond to your questions and comments; to measure interest in and improve our products, services, and Website
iv) to notify you about special offers and products or services available from us or others that may be of interest to you
v) to otherwise customize your experience with PopEyeTrip
vi) to solicit information from you, including through surveys; to resolve disputes or troubleshoot problems; to prevent potentially prohibited or illegal activities;
vii) to enforce our Terms of Use; and as otherwise described to you at the point of collection.
3. Sharing Your Information
We may share your information with the following cases:
i) We may share your non personal or public content to a broader audience such as other websites or media platforms.
ii) We may use third party service providers that may be associated with us to perform certain functions on our behalf, including technical operation and customer support. We may share your information so that they perform the services, but they will not be authorized to use the information for any other purpose.
iii) We may disclose information about you if we believe that disclosure is reasonable to; establish our or a third party’s legal rights; defend against legal claims; take action against suspected illegal activities.
4. Cookies
Cookies are small data text files and can be stored on your computer’s hard drive or your Device (if your Web browser permits). We use cookies to help us recognize your browser as a previous visitor and save and remember any preferences that may have been set while your browser was visiting our site; to check whether login is made on website; to help us customize the content, experience, and advertisements provided to you on PopEyeTrip; to help measure and research the effectiveness of features and offerings, advertisements, and email communications (by determining which emails you open and act upon). The Help portion of the toolbar on most browsers should tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable most types of cookies. Please note that if you refuse to accept cookies, you may not be able to access many of the travel tools offered on our sites.
5. User’s right to access and option
We take reasonable steps to ensure that your information is relevant to its intended use, accurate, and complete. You can access and update your contact information by visiting the User’s Name.
As a registered PopEyeTrip member, you can modify your email subscription choices at any time on the User’s Name. Please note that we reserve the right to send you other communications, including service announcements, administrative messages, and surveys relating to your account.
You also close your account. If you decide to close your PopEyeTrip account, we will deactivate your account and remove your profile information from active view. After you close an account, you will not be able to sign in or access any of your personal information. Please note, however, that we may retain in our files some information associated with your account and past transactions for purposes including backups, fraud prevention, dispute resolution, investigations, and compliance with legal requirements.
6. How we protect your information
We want you to feel confident about using PopEyeTrip, and we are committed to protecting the information we collect. We have implemented appropriate administrative, technical, and physical security procedures to help protect the personal information you provide to us. Only authorized employees are permitted to access personal information, and they only may do so for permitted business functions. In addition, we use encryption when transmitting your personal information between your system and ours, and between our system and those of the parties with whom we share sensitive information, and we employ firewalls and intrusion detection systems to help prevent unauthorized persons from gaining access to your information.
7. Storing Period and Durations of Use
By default, we will expunge your personal information once we accomplish our purpose for the use but for limited cases as provided in applicable laws, we may reserve the right to hold your personal information for certain period of time as follows if there is a need for such pursuant to applicable laws such as the “Commercial Act” and “Act of The Consumer Protection In Electronic Commerce, Etc.”
Record of executed contract and revocation of subscription
-	Ground for storing: Act On The Consumer Protection In Electronic Commerce, Etc.
-	Duration: 5 years
Record of processing payments and all monetary exchanges
-	Ground for storing: Act On The Consumer Protection In Electronic Commerce, Etc.
-	Duration : 5 years
Record of customer service correspondences and dispute resolution
-	Ground for storing: Act On The Consumer Protection In Electronic Commerce, Etc.
-	Duration: 3 years
Record of user identity verification
-	Ground for storing: Act On Promotion Of Information And Communication Network Utilization And Information Protection, Etc.
-	Duration: 6 months
Record of login and usage
-	Ground for storing: Protection Of Communications Secret Act
-	Duration: 3 months
Record of unauthorized use
-	Ground for storing: To prevent unauthorized use
-	Duration: 1 year
8. Method and Procedures for Expungement of Personal Information
By default, personal information collected will be expunged immediately after we accomplish the purpose. We will follow following steps to expunge your personal information.
(1) Steps Followed
i) Personal information collected from registration and use of service will be moved to separate DB (for record on paper, designated bin or box) and stored for certain duration of time as per our internal policy and applicable laws and upon expiration of the respective storing period, they will be expunged.
ii) Personal information collected will not be stored nor used for any other purpose other than as provided herein.
(2) Method of Expungement
i) Personal information on paper will be shredded or incinerated.
ii) Personal information stored on electronic file will be deleted permanently using available technology that makes it impossible to recover.
9. Children's privacy
We DO NOT offer services directed to children. Should an individual whom we know to be a child under age 13 send personal information to us, we will delete or destroy such information as soon as reasonably possible.
10. External links
If any part of the PoeEyeTrip Website links you to other websites, those external websites do not operate under this Privacy Policy. We recommend that you examine the privacy statements posted on those other websites to understand their procedures for collecting, using, and disclosing personal information.
11. Modification of Privacy Protection Policy
The Company has the right to amend or modify this Policy from time to time and, in such case, the Company will make a public notice of it through bulletin board of its website (or through individual notice such as written document, fax or e-mail) and obtain consent from the users if required by relevant laws.
12. Contact Information
The Company designates the following department and person in charge of personal information in order to protect personal information of customers and deal with complaints from customers. Should you have any questions, comments or concerns about this Privacy Policy or the practices of the Site, please contact department responsible for privacy protection and customer service;
Tel.: +82 10-8662-4710
E-mail : kopdsa@gmail.com
The latest update date: November 4, 2015
</pre>
